@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Source+Serif+Pro:wght@600&display=swap');

body,
button,
input,
textarea {
  color: black;
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background-color: #ededed;
  margin: 0;
}

header,
footer {
  background-color: black;
  height: 100px;
}

.sidebar-right {
  background-color: #ededed;
  color: black;
}

h1 {
  color: red;
  margin: 0;
}

p {
  margin: 0;
}

@media screen and (min-width: 1120px) {
  .content-area {
    display: flex;
  }

  .sidebar-right {
    flex: 0 0 320px;
  }

}

/* Header */

.site-header {
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.site-info {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.site-title {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.site-description {
  text-align: center;
  color: #f6c85d;
  font-size: 1.2em;
  margin-top: -0.8;
  font-style: italic;
}

/* End Of Header */

/* Posts */
.main-content-area {
  padding: 2em;
}

.post {
  background-color: white;
  margin-bottom: 1em;
}

.post a {
  color: black;
  text-decoration: none;
}

.post-content {
  padding: 0 40px 20px;
}

.post-content h2 {
  background-color: #f6c85d;
  color: black;
  padding: 20px;
  text-align: center;
  margin: 0 -40px 30px;
}

img {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

@media screen and (min-width: 810px) {

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    flex-basis: 49%;
  }
}

@media screen and (min-width: 1120px) {

  .post-half {
    flex-basis: 49%;
  }

  .post-one-third {
    flex-basis: 32%;
  }

  .post-full {
    flex-basis: 100%;
  }
}

/* End Of Posts */

/* Watch Today */

.section-header {
  color: black;
  font-size: 3em;
  text-align: center;
}

.watch-card {
  margin-bottom: 1em;
}

.watch-content {
  background-color: black;
  color: white;
  padding: 3em;
}

.watch-content h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
}

.movie-info {
  font-weight: bold;
}

.movie-info span {
  padding-right: 1.5em;
}

.movie-story {
  margin: 1em 0;
}

.watch-content a {
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 1120px) {

  .watch-card {
    display: flex;
  }

  .watch-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .watch-img {
    width: 60%;
    height: 60vh;
    object-fit: cover;
    margin: 0 auto;
  }

  .image-right {
    order: 2;
  }
}

/* End Of Watch Today */

/* Download */

.download-card {
  margin-bottom: 1em;
}

.download-content {
  background-color: white;
  display: flex;
  flex-flow: column;
}

.download-content a {
  background-color: black;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: capitalize;
}

.download-content a i {
  font-size: 2.5em;
}

.download-info {
  padding: 1em 2em;
}

.download-cast img {
  height: 60px;
  width: 60px;
  padding: 0.1em;
  border-radius: 50%;
}

.download-rating {
  background-color: #f6c85d;
  padding: 1em 2em;
  color: black;
  font-size: 0.9em;
}

.download-rating .rate {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: -0.25em;
}

.download-info h4 {
  margin: 0;
}

.download-info p {
  margin: 0;
  font-size: 0.9em;
}

.download-content a,
.download-rating {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.download-genre,
.download-cast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.download-info h4 {
  flex-basis: 20%;
}

.download-genre {
  margin-bottom: 10px;
}

@media screen and (min-width: 810px) {

  .download-content {
    display: flex;
    flex-flow: row;
  }

  .download-content a,
  .download-rating {
    flex-grow: 1;
  }

  .download-info {
    flex-grow: 2;
  }
}

/* End Of Download */

/* Gallery Section */

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}

.gallery-img {
  height:250px;
  flex-grow: 1;
  margin: 5px 8px;
}

.gallery-img img{
  height:100%;
  object-fit: cover;
}

.gallery-img:nth-child(4n+1){
  flex-basis: 250px;
}
.gallery-img:nth-child(4n+2){
  flex-basis: 325px;
}
.gallery-img:nth-child(4n+3){
  flex-basis: 180px;
}
.gallery-img:nth-child(4n+4){
  flex-basis: 380px;
}

/* End Of Gallery Section */