@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Source+Serif+Pro:wght@600&display=swap');

body,
button,
input,
textarea {
  color: black;
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background-color: #ededed;
  margin: 0;
}

header,
footer {
  background-color: green;
  height: 100px;
}

.sidebar-right {
  background-color: blue;
  color: white;
}

h1 {
  color: red;
  margin: 0;
}

p {
  margin: 0;
}

@media screen and (min-width: 1120px) {
  .content-area {
    display: flex;
  }

  .sidebar-right {
    flex: 0 0 320px;
  }

}

/* Header */

.site-header {
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.site-info {
  flex-grow: 1;
}

.site-title {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.site-description {
  text-align: center;
  color: #f6d200;
  font-size: 1.2em;
  margin-top: -0.8;
  font-style: italic;
}

/* End Of Header */